---
import BaseHead from '../components/BaseHead.astro';
import Nav from '../components/Nav.astro';

const {title, description, ogImageUrl, publishDate, permalink} = Astro.props;
---
<!DOCTYPE html>
<html>
  <head>
    <BaseHead title={title} description={description} permalink={permalink} ogImageUrl={ogImageUrl} publishDate={publishDate} canonicalURL={Astro.request.canonicalURL} articleSchema />
    <!--<link rel="stylesheet" href={Astro.resolve("../assets/global.css")} />-->
    <style global>
			@import "../assets/global.css";
  	</style>

<!--<style global></style>-->
    <style global>
			/*@import "../assets/global.css";*/
      /*p a {
        color: inherit;
        text-decoration: inherit;
        text-decoration: underline dotted 2px white;
      }*/
      /*p a:hover {
        text-decoration: underline dotted 2px white;
      }*/
  	</style>
  </head>

  <body>
  <Nav/>
  <slot/>
    <!--<script type="module" src={Astro.resolve('../components/CodeBlock/code-block.ts')}></script>-->
  </body>
</html>

